<html>
<head>
    <title>MATLAB for Engineers</title>
</head>

<body>

<center>
    <strong>
        <font size=6>M<font size=5>ATLAB for</font> E<font size=5>ngineers <br> with</font>
            N<font size=5>umerical</font> A<font size=5>nalysis</font> A<font size=5>pplications</font>
        </font></strong></center>

<P></P>
<CENTER>
    <HR width="75%" SIZE=3>
</CENTER>

<P></P>
<table border=3 align="center">
    <tr>
        <th>Topics and Text</th>
        <th>Lecture Videos</th>
        <th>Exercises & <br> PDF Solutions</th>
        <th>Video Solutions for <br> Selected Exercises</th>
        <th>Homework</th>
        <th>Assessment</th>
    </tr>


    <!--
    ************Chapter 1************************
    -->

    <tr>
        <td valign=top width=250><a href="./text/chapter1.pdf">Chapter 1: </a><br> Course Overview</td>

        <td valign=top width=400><a
                href="https://www.youtube.com/watch?v=it2SsTWOJRg&index=1&list=PLTwPa5Tfu7AULpYLzEGS5c2SFyuD5sOFt">Introductions: </a>numerical
            analysis, MATLAB, and instructor background
        </td>


        <td rowspan=1 valign=top width=120>None</td>

        </td>
        <td rowspan=1 valign=top width=130>None</td>

        <td valign=top width-120>None</td>
        <td rowspan=1 valign=top>None</td>
    </tr>


    <!--
    ************Chapter 2************************
    -->

    <tr>
        <td rowspan=2 valign=top><a href="./text/chapter2.pdf">Chapter 2:</a><br>MATLAB Environment and Desktop</td>

        <td valign=top><a
                href="https://www.youtube.com/watch?v=6F89wOGgRf0&list=PLTwPa5Tfu7AULpYLzEGS5c2SFyuD5sOFt&index=2">Desktop
            Basics and Environment Control GUIs:</a> using GUIs for workspace, file, and folder management
        </td>

        <td rowspan=2 valign=top><a href="./exercises/ch2_ex.pdf">Exercises</a></td>

        <td rowspan=2 valign=top><a href="http://youtu.be/1Kia2CiQ77I">Exercise 2.1</a><br><a
                href="http://youtu.be/1Kia2CiQ77I">Exercise 2.2</a></td>

        <td rowspan=2 valign=top>None</td>
        <td rowspan=2 valign=top>None</td>
    </tr>


    <tr>
        <td valign=top><a
                href="https://www.youtube.com/watch?v=891XsYaYRsU&list=PLTwPa5Tfu7AULpYLzEGS5c2SFyuD5sOFt&index=3">Environment
            Control Functions: </a>Using MATLAB commands for workspace, file, and folder management
        </td>
    </tr>


    <!--
    ************Chapter 3************************
    -->

    <tr>
        <td rowspan=3 valign=top><a href="./text/chapter3.pdf">Chapter 3:</a><br>Scalar Mathmematics</td>

        <td valign=top><a
                href="https://www.youtube.com/watch?v=268I_jp9qlE&list=PLTwPa5Tfu7AULpYLzEGS5c2SFyuD5sOFt&index=4">Variables:</a>
            Variable names, pre-defined variables, and reserved words
        </td>

        <td rowspan=3 valign=top><a href="./exercises/ch3_ex.pdf">Exercises</a><br><a href="./exercises/ch3ex_key.pdf">Solutions</a>
        </td>

        <td rowspan=3 valign=top>None</td>

        <td rowspan=3 valign=top>None</td>
        <td rowspan=3 valign=top>None</td>
    </tr>


    <tr>
        <td valign=top><a
                href="https://www.youtube.com/watch?v=JuO0_cBMJmc&list=PLTwPa5Tfu7AULpYLzEGS5c2SFyuD5sOFt&index=5">Arithmetic
            Operations: </a>Operators as used in scalar arithmetic and operator precedence
        </td>
    </tr>

    <tr>
        <td valign=top><a
                href="https://www.youtube.com/watch?v=nMW2qGtEG1I&list=PLTwPa5Tfu7AULpYLzEGS5c2SFyuD5sOFt&index=6">MATLAB
            Functions: </a>Built-in mathematical function; input and output arguments
        </td>
    </tr>


    <!--
    ************Chapter 4************************
    -->

    <tr>
        <td rowspan=3 valign=top><a href="./text/chapter4.pdf">Chapter 4:</a><br>Script Files</td>

        <td valign=top><a href="https://www.youtube.com/watch?v=tBcq6fgzuD8&list=UUYnjJev4uFmdlL90qQU5NWQ">Basics:</a>
            Creating and executing script files; MATLAB's "path"
        </td>

        <td rowspan=3 valign=top><a href="./exercises/ch4_ex.pdf">Exercises</a><br><a href="./exercises/ch4ex_key.pdf">Solutions</a>
        </td>

        <td rowspan=3 valign=top><a href="http://youtu.be/Ei_Yf12YNc0">Exercise 4.1</a><br><a
                href="http://youtu.be/-d4sNqBVKj4">Exercise 4.2</a></td>

        <td rowspan=3 valign=top><a href="./homework/ch4_homework.pdf">Problems</a><br><a
                href="./homework/ch4_hwrubric.pdf">Grading Rubric</a><br><a
                href="./homework/ch4_hwkey.pdf">Solutions</a></td>
        <td rowspan=3 valign=top>None</td>
    </tr>


    <tr>
        <td valign=top><a
                href="https://www.youtube.com/watch?v=Lc3E_Tjb1YM&list=UUYnjJev4uFmdlL90qQU5NWQ">Commenting: </a>Operators
            documenting code with non-executable statements
        </td>
    </tr>

    <tr>
        <td valign=top><a href="https://www.youtube.com/watch?v=foTW62kyOLY&list=UUYnjJev4uFmdlL90qQU5NWQ">Optional
            features: </a>Built-in user-defined input, displaying results, formatted output
        </td>
    </tr>


    <!--
    ************Chapter 5************************
    -->

    <tr>
        <td rowspan=3 valign=top><a href="./text/chapter5.pdf">Chapter 5:</a><br>Arrays and array operations</td>

        <td valign=top><a href="https://www.youtube.com/watch?v=h5npaCcdgf4&list=UUYnjJev4uFmdlL90qQU5NWQ">Array
            Creation:</a> Array background; Creating arrays in MATLAB
        </td>

        <td rowspan=3 valign=top><a href="./exercises/ch5_ex.pdf">Exercises</a><br><a href="./exercises/ch5ex_key.pdf">Solutions</a>
        </td>

        <td rowspan=3 valign=top><a href="http://youtu.be/TrzP2J1042A">Exercise 5.1</a><br><a
                href="http://youtu.be/E8nE0vinbVI">Exercise 5.3</a></td>

        <td rowspan=3 valign=top><a href="./homework/ch5_homework.pdf">Problems</a><br><a
                href="./homework/ch5_hwrubric.pdf">Grading Rubric</a><br><a
                href="./homework/ch5_hwkey.pdf">Solutions</a></td>
        <td rowspan=3 valign=top>None</td>
    </tr>


    <tr>
        <td valign=top><a href="https://www.youtube.com/watch?v=fXTcTaKjS5c&list=UUYnjJev4uFmdlL90qQU5NWQ">Accessing
            arrays: </a>Accessing elements of arrays (individual elements, ranges of elements)
        </td>
    </tr>

    <tr>
        <td valign=top><a href="https://www.youtube.com/watch?v=6ew79hC_m9s&list=UUYnjJev4uFmdlL90qQU5NWQ">Array
            Operations: </a>Scalar-array and array-array arithmetic
        </td>
    </tr>


    <!--
    ************Chapter 6************************
    -->

    <tr>
        <td rowspan=2 valign=top><a href="./text/chapter6.pdf">Chapter 6:</a><br>Two Dimensional Plots</td>

        <td valign=top><a href="https://www.youtube.com/watch?v=7r9ZdMMTVLE&list=UUYnjJev4uFmdlL90qQU5NWQ">Plotting
            Basics:</a> Plot creation; figure window management; linestyles; markers; annotations; setting axes;
            multiple lines on a plot
        </td>

        <td rowspan=2 valign=top><a href="./exercises/ch6_ex.pdf">Exercises</a><br><a href="./exercises/ch6ex_key.pdf">Solutions</a>
        </td>

        <td rowspan=2 valign=top>None</td>

        <td rowspan=2 valign=top><a href="./homework/ch6_homework.pdf">Problems</a><br><a
                href="./homework/ch6_hwrubric.pdf">Grading Rubric</a><br><a
                href="./homework/ch6_hwkey.pdf">Solutions</a></td>
        <td rowspan=2 valign=top>None</td>
    </tr>


    <tr>
        <td valign=top><a href="https://www.youtube.com/watch?v=rlNlxqV6LA0&list=UUYnjJev4uFmdlL90qQU5NWQ">Added
            Features: </a>Additional plot types; figure windows with multiple plots; name-value arguments for plot
            formatting, customized annotations with special characters and Greek letters, text formatting
        </td>
    </tr>


    <!--
    ************Chapter 7************************
    -->

    <tr>
        <td rowspan=2 valign=top><a href="./text/chapter7.pdf">Chapter 7:</a><br>Data Import and Export</td>

        <td valign=top><a href="https://www.youtube.com/watch?v=Dd_SjXBmeLw&list=UUYnjJev4uFmdlL90qQU5NWQ">Import/Export
            Functions</a>; Special purpose data import and export: xlsread, csvread, csvwrite, etc.
        </td>

        <td rowspan=2 valign=top>None</td>

        <td rowspan=2 valign=top>None</td>

        <td rowspan=2 valign=top>None</td>
        <td rowspan=2 valign=top>None</td>
    </tr>


    <tr>
        <td valign=top><a href="https://www.youtube.com/watch?v=Mz_jl6LfT0U&list=UUYnjJev4uFmdlL90qQU5NWQ">Low Level
            File I/O: </a>Arbitrary binary/text file import/output.
        </td>
    </tr>


    <!--
    ************Chapter 8************************
    -->

    <tr>
        <td rowspan=1 valign=top><a href="./text/chapter8.pdf">Chapter 8:</a><br>User Defined Functions</td>

        <td valign=top><a href="https://www.youtube.com/watch?v=AmKyQMyJ-_A">Creating and executing function files</a>
        </td>

        <td rowspan=1 valign=top><a href="./exercises/ch8_ex.pdf">Exercises</a><br><a href="./exercises/ch8ex_key.pdf">Solutions</a>
        </td>

        <td rowspan=1 valign=top><a href="http://youtu.be/KCWbKcaiTyw">Exercise 8.1</a><br><a
                href="http://youtu.be/nAFBMi07LvI">Exercise 8.2</a><br><a href="http://youtu.be/dvdAwL6PoKM">Exercise
            8.3</a><br><a href="http://youtu.be/tvxfgSDXK-k">Exercise 8.4</a></td>

        <td rowspan=1 valign=top><a href="./homework/ch8_homework.pdf">Problems</a><br><a
                href="./homework/ch8_hwrubric.pdf">Grading Rubric</a><br><a
                href="./homework/ch8_hwkey.pdf">Solutions</a></td>
        <td rowspan=1 valign=top>None</td>
    </tr>


    <!--
    ************Chapter 9************************
    -->

    <tr>
        <td rowspan=3 valign=top><a href="./text/chapter9.pdf">Chapter 9:</a><br>Decision Making and Flow Control</td>

        <td valign=top><a
                href="https://www.youtube.com/watch?v=Zx4AvSOA6a8&index=7&list=PLTwPa5Tfu7AULpYLzEGS5c2SFyuD5sOFt">Operators</a>:
            Relational Operators: <, >, <=, >=, ~=, ==.<br> Logical Operators: &, |, ~.
        </td>

        <td rowspan=3 valign=top><a href="./exercises/ch9_ex.pdf">Exercises</a><br><a href="./exercises/ch9ex_key.pdf">Solutions</a>
        </td>

        <td rowspan=3 valign=top><a href="http://youtu.be/Fw4J3cXksxY">Exercise 9.1</a><br><a
                href="http://youtu.be/nAEdMEwtgjc">Exercise 9.2</a><br><a href="http://youtu.be/ZfD9hrmIBOc">Exercise
            9.3</a></td>

        <td rowspan=3 valign=top><a href="./homework/ch9_homework.pdf">Problems</a><br><a
                href="./homework/ch9_hwrubric.pdf">Grading Rubric</a><br><a
                href="./homework/ch9_hwkey.pdf">Solutions</a></td>


        <td rowspan=3 valign=top><a
                href="http://ec2-52-89-64-122.us-west-2.compute.amazonaws.com:3000/student/pages/main.htm#/chapter9">
            Assessment Chapter 9 </a></td>

    </tr>


    <tr>
        <td valign=top><a
                href="https://www.youtube.com/watch?v=loO8paKypI8&index=8&list=PLTwPa5Tfu7AULpYLzEGS5c2SFyuD5sOFt">Logical
            Arrays</a>: Arrays of logical values, using logical arrays as array indices, the FIND command.
        </td>
    </tr>

    <tr>
        <td valign=top><a href="https://www.youtube.com/watch?v=cXnDN-Hl6Mc">IF-ELSE-END Constructions</a>: Using IF
            blocks for flow control
        </td>
    </tr>


    <!--
    ************Chapter 10************************
    -->

    <tr>
        <td rowspan=3 valign=top><a href="./text/chapter10.pdf">Chapter 10:</a><br>Looping Structures</td>

        <td valign=top><a href="https://www.youtube.com/watch?v=iRT_rC-0Wp8">For Loops</a>: Repeating calculations a
            specified number of times
        </td>

        <td rowspan=3 valign=top><a href="./exercises/ch10_ex.pdf">Exercises</a><br><a
                href="./exercises/ch10ex_key.pdf">Solutions</a></td>

        <td rowspan=3 valign=top><a href="https://www.youtube.com/watch?v=EujvKQsy-2g">Exercise 10.1</a><br><a
                href="https://www.youtube.com/watch?v=1PPuohcqQ9Q">Exercise 10.2</a><br><a
                href="https://www.youtube.com/watch?v=KcCbVHAOTRE">Exercise 10.3</a><br><a
                href="https://www.youtube.com/watch?v=FnKoOBd1Mz4">Exercise 10.4</a><br><a
                href="https://www.youtube.com/watch?v=WWnitEYnGGE">Exercise 10.9</a><br><a
                href="https://www.youtube.com/watch?v=2-TNIBbsU84">Exercise 10.10</a></td>

        <td rowspan=3 valign=top><a href="./homework/ch10_homework.pdf">Problems</a><br><a
                href="./homework/ch10_hwrubric.pdf">Grading Rubric</a><br><a
                href="./homework/ch10_hwkey.pdf">Solutions</a></td>


        <td rowspan=3 valign=top><a
                href="http://ec2-52-89-64-122.us-west-2.compute.amazonaws.com:3000/student/pages/main.htm#/example">
            Assessment Chapter 10 </a></td>

        <!--    <td>

                <a href="http://www.w3schools.com/html/">Assessment Chapter 10</a>
            </td>-->


    </tr>


    <tr>
        <td valign=top><a href="https://www.youtube.com/watch?v=VSneSrrKBKw">While Loops</a>: Conditional terminating
            repeated calculations
        </td>
    </tr>

    <tr>
        <td valign=top><a href="https://www.youtube.com/watch?v=3gICldb2Z7w">Efficiency</a>: Improving speed of looping
            structures
        </td>
    </tr>


    <!--
    ************Chapter 11************************
    -->

    <tr>
        <td rowspan=2 valign=top><a href="./text/chapter11.pdf">Chapter 11:</a><br>Numerical Precision and Unavoidable
            Errors
        </td>

        <td valign=top><a href="https://www.youtube.com/watch?v=c9W_YBpbLnA">Symbolic vs. Numerical Math</a>: Overview
            of difference between using numbers and symbols for analysis
        </td>

        <td rowspan=2 valign=top>None</td>

        <td rowspan=2 valign=top>None</td>

        <td rowspan=2 valign=top>None</td>

        <td rowspan=2 valign=top>None</td>
    </tr>


    <tr>
        <td valign=top><a href="https://www.youtube.com/watch?v=VatZila8wBE">Numerical Precision</a>: Digital
            representation of numbers and round-off errors
        </td>
    </tr>


    <!--
    ************Chapter 12************************
    -->

    <tr>
        <td rowspan=5 valign=top><a href="./text/chapter12.pdf">Chapter 12:</a><br>Linear Algebra and Matrix Operations
        </td>

        <td valign=top><a href="https://www.youtube.com/watch?v=G6B6LGFoBX8">Basics</a>: Matrices & vectors; addition,
            subtraction, and multiplication
        </td>

        <td rowspan=5 valign=top><a href="./exercises/ch12_ex.pdf">Exercises</a><br><a
                href="./exercises/ch12ex_key.pdf">Solutions</a></td>

        <td rowspan=5 valign=top>
            <a href="https://www.youtube.com/watch?v=3bqClj6wGAQ">Exercise 12.1 (f),(i),(j)</a><br>
            <a href="https://www.youtube.com/watch?v=4zt62x4TDzU">Exercise 12.6</a><br>
        </td>

        <td rowspan=5 valign=top><a href="./homework/ch12_homework.pdf">Problems</a><br><a
                href="./homework/ch12_hwrubric.pdf">Grading Rubric</a><br><a
                href="./homework/ch12_hwkey.pdf">Solutions</a></td>
        <td rowspan=5 valign=top>None</td>
    </tr>

    <tr>
        <td valign=top><a href="https://www.youtube.com/watch?v=L3FLKbRCRc4">MATLAB implementation</a>: Basic linear
            algebra operators and implementation using loops>/td>
    </tr>

    <tr>
        <td valign=top><a href="https://www.youtube.com/watch?v=R4y7ty5sQTM">Matrix inversion 1</a>: Matrix inverses,
            identity matrices, and matrix rank
        </td>
    </tr>

    <tr>
        <td valign=top><a href="https://www.youtube.com/watch?v=-Rsi0_niMCc">Systems of equations</a>: Solution of
            equations governing linear engineering systems
        </td>
    </tr>


    <tr>
        <td valign=top><a href="https://www.youtube.com/watch?v=i8VmjRombiA">Matrix Inversion 2</a>: How to calculate a
            matrix inverse, why you shouldn't, and alternate approaches to solving equations
        </td>
    </tr>


    <!--
    ************Chapter 13************************
    -->

    <tr>
        <td rowspan=3 valign=top><a href="./text/chapter13.pdf">Chapter 13:</a><br>Curve fitting and Polynomials</td>

        <td valign=top><a href="https://www.youtube.com/watch?v=PA1rnzMxdgI">Introduction:</a> Curve fitting basics;
            least-squares approach to curve fitting
        </td>

        <td rowspan=3 valign=top><a href="./exercises/ch13_ex.pdf">Exercises</a><br><a
                href="./exercises/ch13ex_key.pdf">Solutions</a></td>

        <td rowspan=3 valign=top><a href="">Exercise 13.?</a><br>
            <a href="">Exercise 13.?</a><br></td>

        <td rowspan=3 valign=top><a href="./homework/ch13_homework.pdf">Problems</a><br><a
                href="./homework/ch6_hwrubric.pdf">Grading Rubric</a><br><a
                href="./homework/ch13_hwkey.pdf">Solutions</a></td>


        <td rowspan=3 valign=top>None</td>
    </tr>

    <tr>
        <td valign=top><a href="https://www.youtube.com/watch?v=LP0YrsMGMAM">MATLAB: </a>Built-in functions for
            polynomial curve fitting; other MATLAB polynomial functions
        </td>
    </tr>


    <tr>
        <td valign=top><a href="https://www.youtube.com/watch?v=N4b3phHwaM8">Non-polynomials: </a>Curve fitting with
            functions other than polynomials
        </td>
    </tr>
</table>
</body>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


<style>

    html, body {
        height: 100%;
    }

    html {
        display: table;
        margin: auto;
    }

    body {
        display: table-cell;
        vertical-align: middle;
        width: 80%;
    }

    .flat-table {
        display: block;
        font-family: sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 115%;
        overflow: auto;
        width: auto;
    }

    th {
        background-color: #364B9F;
        color: white;
        font-weight: normal;
        padding: 20px 30px;
        text-align: center;
        width: auto;
    }

    td {
        background-color: #FFFFFF;
        color: rgb(111, 111, 111);
        padding: 20px 30px;
        width: auto;
    }

    table {
        width: 80%;


    }


</style>

</html>