<div ng-controller="Chapter5S1Ctrl" ng-init="show = Random()">
    <div ng-show="show == 1">
        <h3>Question #1: </h3>
        <h4>Select the option below which results from the following MATLAB commands. Assume that no
variables are present in the workspace before the commands are typed. </h4>
        <h5>
>> A = [0, 1 3; 2, 4]</h5>
        <input type="checkbox" ng-model="question1.answer4" ng-init="question1.answer4 = false"> A = [0, 13]
        <br>
        <input type="checkbox" ng-model="question1.answer3" ng-init="question1.answer3 = false"> A = [0, 13; 2, 3]
        <br>
        <input type="checkbox" ng-model="question1.answer1" ng-init="question1.answer1 = false"> Error
        <br>
        <input type="checkbox" ng-model="question1.answer2" ng-init="question1.answer2 = false"> A = [13]
        <br>
        <button type="button" ng-click="CheckQ1()">Submit</button>
        {{resultq1}}
    </div>
    <div ng-show="show == 2">
        <h3>Question #1: </h3>
        <h4>Select the option below which results from the following MATLAB commands. Assume that no
variables are present in the workspace before the commands are typed. </h4>
        <h5>
>> A = [0, 1 3; 2, 4]</h5>
        <input type="checkbox" ng-model="question1.answer4" ng-init="question1.answer4 = false"> A = [0, 13]
        <br>
        <input type="checkbox" ng-model="question1.answer1" ng-init="question1.answer1 = false"> Error
        <br>
        <input type="checkbox" ng-model="question1.answer2" ng-init="question1.answer2 = false"> A = [13]
        <br>
        <input type="checkbox" ng-model="question1.answer3" ng-init="question1.answer3 = false"> A = [0, 13; 2, 3]
        <br>
        <button type="button" ng-click="CheckQ1()">Submit</button>
        {{resultq1}}
    </div>
    <div ng-show="show == 3">
        <h3>Question #1: </h3>
        <h4>Select the option below which results from the following MATLAB commands. Assume that no
variables are present in the workspace before the commands are typed. </h4>
        <h5>
>> A = [0, 1 3; 2, 4]</h5>
        <input type="checkbox" ng-model="question1.answer1" ng-init="question1.answer1 = false"> Error
        <br>
        <input type="checkbox" ng-model="question1.answer2" ng-init="question1.answer2 = false"> A = [13]
        <br>
        <input type="checkbox" ng-model="question1.answer4" ng-init="question1.answer4 = false"> A = [0, 13]
        <br>
        <input type="checkbox" ng-model="question1.answer3" ng-init="question1.answer3 = false"> A = [0, 13; 2, 3]
        <br>
        <button type="button" ng-click="CheckQ1()">Submit</button>
        {{resultq1}}
    </div>
    <!-- Question 1 Cut off -->
    <div ng-show="show == 1">
        <h3>Question #2: </h3>
        <h4>Select the option below which results from the following MATLAB commands. Assume that no
variables are present in the workspace before the commands are typed. </h4>
        <h5>
>> B = [0, 1, 2; 3, 4 5; 6 7, 8]
<br>
>> B(2,3) = 9</h5>
        <input type="checkbox" ng-model="question2.answer1" ng-init="question2.answer1 = false">
        <br>B =
        <br> 0 1 2
        <br> 3 4 9
        <br> 6 7 8
        <br>
        <input type="checkbox" ng-model="question2.answer2" ng-init="question2.answer2 = false">
        <br>B =
        <br> 0 1 2
        <br> 3 4 5
        <br> 6 7 8
        <br>
        <input type="checkbox" ng-model="question2.answer4" ng-init="question2.answer4 = false">
        <br>B =
        <br> 0 1 2
        <br> 3 4 5
        <br>
        <input type="checkbox" ng-model="question2.answer3" ng-init="question2.answer3 = false"> Error
        <br>
        <button type="button" ng-click="CheckQ2()">Submit</button>
        {{resultq2}}
    </div>
    <div ng-show="show == 2">
        <h3>Question #2: </h3>
        <h4>Select the option below which results from the following MATLAB commands. Assume that no
variables are present in the workspace before the commands are typed. </h4>
        <h5>
>> B = [0, 1, 2; 3, 4 5; 6 7, 8]
<br>
>> B(2,3) = 9</h5>
        <input type="checkbox" ng-model="question2.answer1" ng-init="question2.answer1 = false">
        <br>B =
        <br> 0 1 2
        <br> 3 4 9
        <br> 6 7 8
        <br>
        <input type="checkbox" ng-model="question2.answer3" ng-init="question2.answer3 = false"> Error
        <br>
        <input type="checkbox" ng-model="question2.answer2" ng-init="question2.answer2 = false">
        <br>B =
        <br> 0 1 2
        <br> 3 4 5
        <br> 6 7 8
        <br>
        <input type="checkbox" ng-model="question2.answer4" ng-init="question2.answer4 = false">
        <br>B =
        <br> 0 1 2
        <br> 3 4 5
        <br>
        <button type="button" ng-click="CheckQ2()">Submit</button>
        {{resultq2}}
    </div>
    <div ng-show="show == 3">
        <h3>Question #2: </h3>
        <h4>Select the option below which results from the following MATLAB commands. Assume that no
variables are present in the workspace before the commands are typed. </h4>
        <h5>
>> B = [0, 1, 2; 3, 4 5; 6 7, 8]
<br>
>> B(2,3) = 9</h5>
        <input type="checkbox" ng-model="question2.answer1" ng-init="question2.answer1 = false">
        <br>B =
        <br> 0 1 2
        <br> 3 4 9
        <br> 6 7 8
        <br>
        <input type="checkbox" ng-model="question2.answer4" ng-init="question2.answer4 = false">
        <br>B =
        <br> 0 1 2
        <br> 3 4 5
        <br>
        <input type="checkbox" ng-model="question2.answer3" ng-init="question2.answer3 = false"> Error
        <br>
        <input type="checkbox" ng-model="question2.answer2" ng-init="question2.answer2 = false">
        <br>B =
        <br> 0 1 2
        <br> 3 4 5
        <br> 6 7 8
        <br>
        <button type="button" ng-click="CheckQ2()">Submit</button>
        {{resultq2}}
    </div>
    <div ng-show="show == 1">
        <h3>Question #3: </h3>
        <h4>Select the option below which results from the following MATLAB commands. Assume that no
variables are present in the workspace before the commands are typed. </h4>
        <h5>
>> C = [0, 1, 2; 3, 4 5; 6 7, 8]
<br>
>> C(4,3) = 9</h5>
        <input type="checkbox" ng-model="question3.answer1" ng-init="question3.answer1 = false">
        <br>C =
        <br> 0 1 2
        <br> 3 4 5
        <br> 6 7 8
        <br> 0 0 9
        <br>
        <input type="checkbox" ng-model="question3.answer4" ng-init="question3.answer4 = false">
        <br>C =
        <br> 0 1 2
        <br> 3 4 5
        <br> 6 7 9
        <br>
        <input type="checkbox" ng-model="question3.answer3" ng-init="question3.answer3 = false"> Error
        <br>
        <input type="checkbox" ng-model="question3.answer2" ng-init="question3.answer2 = false">
        <br> C =
        <br> 0 1 2
        <br> 3 4 5
        <br> 6 7 8
        <br>
        <button type="button" ng-click="CheckQ3()">Submit</button>
        {{resultq3}}
    </div>
    <div ng-show="show == 2">
        <h3>Question #3: </h3>
        <h4>Select the option below which results from the following MATLAB commands. Assume that no
variables are present in the workspace before the commands are typed. </h4>
        <h5>
>> C = [0, 1, 2; 3, 4 5; 6 7, 8]
<br>
>> C(4,3) = 9</h5>
        <input type="checkbox" ng-model="question3.answer1" ng-init="question3.answer1 = false">
        <br>C =
        <br> 0 1 2
        <br> 3 4 5
        <br> 6 7 8
        <br> 0 0 9
        <br>
        <input type="checkbox" ng-model="question3.answer3" ng-init="question3.answer3 = false"> Error
        <br>
        <input type="checkbox" ng-model="question3.answer2" ng-init="question3.answer2 = false">
        <br> C =
        <br> 0 1 2
        <br> 3 4 5
        <br> 6 7 8
        <br>
        <input type="checkbox" ng-model="question3.answer4" ng-init="question3.answer4 = false">
        <br>C =
        <br> 0 1 2
        <br> 3 4 5
        <br> 6 7 9
        <br>
        <button type="button" ng-click="CheckQ3()">Submit</button>
        {{resultq3}}
    </div>
    <div ng-show="show == 3">
        <h3>Question #3: </h3>
        <h4>Select the option below which results from the following MATLAB commands. Assume that no
variables are present in the workspace before the commands are typed. </h4>
        <h5>
>> C = [0, 1, 2; 3, 4 5; 6 7, 8]
<br>
>> C(4,3) = 9</h5>
        <input type="checkbox" ng-model="question3.answer2" ng-init="question3.answer2 = false">
        <br> C =
        <br> 0 1 2
        <br> 3 4 5
        <br> 6 7 8
        <br>
        <input type="checkbox" ng-model="question3.answer4" ng-init="question3.answer4 = false">
        <br>C =
        <br> 0 1 2
        <br> 3 4 5
        <br> 6 7 9
        <br>
        <input type="checkbox" ng-model="question3.answer3" ng-init="question3.answer3 = false"> Error
        <br>
        <input type="checkbox" ng-model="question3.answer1" ng-init="question3.answer1 = false">
        <br>C =
        <br> 0 1 2
        <br> 3 4 5
        <br> 6 7 8
        <br> 0 0 9
        <br>
        <button type="button" ng-click="CheckQ3()">Submit</button>
        {{resultq3}}
    </div>
    <div>
        <div ng-controller="codeCtrlC5S1">
            <h3>Question #4: </h3>
            <h4>  In Matlab syntax, create the following array: </h4>
            <b>A =</b>
            <div ng-bind-html="question">
                {{question}}
            </div>
            <div ng-show="textInput">
                <!-- Textbox Input options -->
                <div ng-model="textField" ui-ace="aceOptions" style=" height:300px; width:auto;" data-ng-init="GetSolution()" placeholder="Enter MATLAB code here."></div>
                <br>
                <input class="btn btn-success" type="submit" ng-click="sendCode();CheckAnswer();" value="Execute"></input>
                <div ng-hide="errorHide" class="alert alert-danger"><strong>Errors</strong>
                    <br> {{ error }}</div>
                <div ng-hide="warningHide" class="alert alert-warning"><strong>Warnings</strong>
                    <br> {{ warning }}</div>
                <!--             <div  class="alert" style="white-space: pre;"><strong>Result: </strong><br> {{ Results }}</div> -->
                <div ng-hide="resHide"><strong>{{ respond }}</strong></div>
            </div>
            <div ng-hide="textInput">
                <!-- File I/O options -->
                <!-- TODO: PARSE file as string on client side then post -->
                <h4>FILE</h>
          </div>
      </div><br>
</div>

</div>
