<div ng-controller="codeCtrlC9S1" ng-init="Shuffle()">
    <div ng-repeat="q in questions track by $index">
        <h4 ng-bind-html="q.question">{{q.question}}</h4>
        <form name="myForm" ng-controller="codeCtrlC9S1">
            <div ng-repeat="n in q.options track by $index">
                <label ng-if="n.type == 'mc'">
                    <input type="radio" ng-model="options.selected" ng-value="q.options[$index]">
                    <!-- ng-bind-html="n.text" -->
                    {{n.text}}
                </label>
                <div ng-if="n.type == 'sa'">
                    <input type="text" ng-model="options.selected">
                </div>
            </div>
            <button type="button" ng-click="CheckAnswer(q.options)">Submit</button>
            <br> {{q1hints}}
        </form>
    </div>
</div>
