<script type="text/javascript" src="http://www.hostmath.com/Math/MathJax.js?config=OK">
</script>
<script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
</script>
<div ng-controller="ChapterThreeController" ng-init="init()">
    <div chapter3-assessment-p1></div>
    <div chapter3-assessment-p2></div>
    <!--     <div chapter3-assessment-p3></div> -->
    <div chapter3-assessment-p4></div>
    <div chapter3-assessment-p5></div>
</div>
<div chapter3-assessment-p22></div>
