<div ng-controller="sideController">

    <div ng-if="enableExample[1]"><iframe class="video" src="https://www.youtube.com/embed/EujvKQsy-2g" frameborder="0" allowfullscreen></iframe></div>


    <div ng-if="enableExample[2]"><iframe class="video" src="https://www.youtube.com/embed/1PPuohcqQ9Q" frameborder="0" allowfullscreen></iframe></div>

    <div ng-if="enableExample[3]"><iframe class="video" src="https://www.youtube.com/embed/KcCbVHAOTRE" frameborder="0" allowfullscreen></iframe></div>

    <div ng-if="enableExample[4]"><iframe class="video" src="https://www.youtube.com/embed/FnKoOBd1Mz4" frameborder="0" allowfullscreen></iframe></div>

    <div ng-if="enableExample[5]"><iframe class="video" src="https://www.youtube.com/embed/WWnitEYnGGE" frameborder="0" allowfullscreen></iframe></div>

    <div ng-if="enableExample[6]"><iframe class="video" src="https://www.youtube.com/embed/2-TNIBbsU84" frameborder="0" allowfullscreen></iframe></div>


    <!-- Nine -->
    <div ng-if="enableExample[7]"><iframe class="video" src="https://www.youtube.com/embed/Fw4J3cXksxY" frameborder="0" allowfullscreen></iframe></div>

    <div ng-if="enableExample[8]"><iframe class="video" src="https://www.youtube.com/embed/nAEdMEwtgjc" frameborder="0" allowfullscreen></iframe></div>

    <div ng-if="enableExample[9]"><iframe class="video" src="https://www.youtube.com/embed/ZfD9hrmIBOc" frameborder="0" allowfullscreen></iframe></div>

</div>