<div ng-controller="sideController">

	<div ng-if="enablelecture[1]"><iframe class="video" src="https://www.youtube.com/embed/iRT_rC-0Wp8" frameborder="0" allowfullscreen></iframe></div>


    <div ng-if="enablelecture[2]"><iframe class="video" src="https://www.youtube.com/embed/VSneSrrKBKw" frameborder="0" allowfullscreen></iframe></div>

    <div ng-if="enablelecture[3]"><iframe class="video" src="https://www.youtube.com/embed/3gICldb2Z7w" frameborder="0" allowfullscreen></iframe></div>

    <div ng-if="enablelecture[5]"><iframe class="video" src="https://www.youtube.com/embed/Zx4AvSOA6a8?list=PLTwPa5Tfu7AULpYLzEGS5c2SFyuD5sOFt" frameborder="0" allowfullscreen></iframe></div>

    <div ng-if="enablelecture[6]"><iframe class="video" src="https://www.youtube.com/embed/loO8paKypI8?list=PLTwPa5Tfu7AULpYLzEGS5c2SFyuD5sOFt" frameborder="0" allowfullscreen></iframe></div>

    <div ng-if="enablelecture[7]"><iframe class="video" src="https://www.youtube.com/embed/cXnDN-Hl6Mc" frameborder="0" allowfullscreen></iframe></div>
</div>