<div>
    <style>



    </style>
    <h1>Chapter 10 assessment problems: For Loops</h1>


    <script>
        var a = document.getElementById('assest1input1').value;

        window.onload = checkprevstate();

        function checkprevstate() {


            document.getElementById('assest1input1').value = GetState("assest1");
            document.getElementById('assest1input2').value = GetState("assest2");
            document.getElementById('assest1input3').value = GetState("assest3");
            document.getElementById('assest1input4').value = GetState("assest4");
            document.getElementById('assest1input5').value = GetState("assest5");
            //if user hasnt entered anything. no need for checks
            if (document.getElementById('assest1input1').value != '') {
                changeTextAssest1();
            }

            if (document.getElementById('assest1input2').value != '') {
                changeTextAssest2();
            }

            if (document.getElementById('assest1input3').value != '') {
                changeTextAssest3();
            }

            if (document.getElementById('assest1input4').value != '') {
                changeTextAssest4();
            }

            if (document.getElementById('assest1input5').value != '') {
                changeTextAssest5();
            }


        }

        function SaveState(currentValue, stateName) {
            localStorage.setItem(stateName, currentValue);

        }

        function GetState(stateName) {
            return localStorage.getItem(stateName);

        }

        function changeTextAssest1() {
            if (document.getElementById('assest1input1').value == -15) {
                document.getElementById('assest1').innerHTML = '<h4>Correct!</h4>';
                document.getElementById('assest1input1').style.backgroundColor = "#bfff00";
                SaveState(document.getElementById('assest1input1').value, "assest1");
            }
            else {
                document.getElementById('assest1').innerHTML = '<h4>Incorrect! <br> <i>Refer material under Lecture Videos(10.1), Exercise Videos(10.1), Tutorials(10.6)</i></h4>';
                /*.style.backgroundColor = "yellow";*/
                document.getElementById('assest1input1').style.backgroundColor = "#ff8000";
                //save current values if user got their answer incorrect
                SaveState(document.getElementById('assest1input1').value, "assest1");
            }
        }

        function changeTextAssest2() {
            if (document.getElementById('assest1input2').value == 12) {
                document.getElementById('assest2').innerHTML = '<h4>Correct!</h4>';
                document.getElementById('assest1input2').style.backgroundColor = "#bfff00";
                SaveState(document.getElementById('assest1input2').value, "assest2");
            }
            else {
                document.getElementById('assest2').innerHTML = '<h4>Incorrect! <br> <i>Refer material under Lecture Videos(10.1), Exercise Videos(10.1), Tutorials(10.5)</h4></i>';
                /*.style.backgroundColor = "yellow";*/
                document.getElementById('assest1input2').style.backgroundColor = "#ff8000";
                SaveState(document.getElementById('assest1input2').value, "assest2");
            }
        }

        function changeTextAssest3() {
            if (document.getElementById('assest1input3').value == 4) {
                document.getElementById('assest3').innerHTML = '<h4>Correct!</h4>';
                document.getElementById('assest1input3').style.backgroundColor = "#bfff00";
                SaveState(document.getElementById('assest1input3').value, "assest3");
            }
            else {
                document.getElementById('assest3').innerHTML = '<h4>Incorrect! <br> <i>Refer material under Lecture Videos(10.1), Exercise Videos(10.3), Tutorials(10.7)</i></h4>';
                /*.style.backgroundColor = "yellow";*/
                document.getElementById('assest1input3').style.backgroundColor = "#ff8000";
                SaveState(document.getElementById('assest1input3').value, "assest3");
            }
        }

        function changeTextAssest4() {
            if (document.getElementById('assest1input4').value == '[8, 0, 1, 0, -2, 0, 0, 0, 1]') {
                document.getElementById('assest4').innerHTML = '<h4>Correct!</h4>';
                document.getElementById('assest1input4').style.backgroundColor = "#bfff00";
                SaveState(document.getElementById('assest1input4').value, "assest4");
            }
            else {/*Refer material under Lecture Videos(10.1), Example Videos(10.2, 10.3, 10.4), Tutorials(10.2, 10.4, 10.8)*/
                document.getElementById('assest4').innerHTML = '<h4>Incorrect! <br> <i>Refer material under Lecture Videos(10.2), Exercise Videos(10.2, 10.4), Tutorials(10.2, 10.4, 10.8)</i><br><i>hints: make sure ' +
                        'the array is in the following format: </i>[1, 2, 4]</h4>';
                /*.style.backgroundColor = "yellow";*/
                document.getElementById('assest1input4').style.backgroundColor = "#ff8000";
                SaveState(document.getElementById('assest1input4').value, "assest4");
            }
        }

        function changeTextAssest5() {
            if (document.getElementById('assest1input5').value == -2) {
                document.getElementById('assest5').innerHTML = '<h4>Correct!</h4>';
                document.getElementById('assest1input5').style.backgroundColor = "#bfff00";
                SaveState(document.getElementById('assest1input5').value, "assest5");
            }
            else {
                document.getElementById('assest5').innerHTML = '<h4>Incorrect! <br> <i>Refer material under Lecture Videos(10.1), Exercise Videos(10.2, 10.4), Tutorials(10.2, 10.4, 10.8)</h4></i>';
                /*.style.backgroundColor = "yellow";*/
                document.getElementById('assest1input5').style.backgroundColor = "#ff8000";
                SaveState(document.getElementById('assest1input5').value, "assest5");
            }
        }

        function mcqone() {
            $(function () {
                $("#submitone").click(function () {
                    var a = $('input[name="answers1"]:checked').val();
                    if (a == 4) {
                        document.getElementById("mcqonehintbox").innerHTML = "Correct!"
                    }
                    if (a == 3) {
                        document.getElementById("mcqonehintbox").innerHTML = 'Incorrect! <br> <i>(Hint: cumulative sum)</i>';
                    }

                    if (a == 2) {
                        //(Hints: junk not defined as array; there is a cumulative sum)
                        document.getElementById("mcqonehintbox").innerHTML = 'Incorrect! <br> <i>(Hints: junk not defined as array; there is a cumulative sum)</i>';

                    }
                    if (a == 1) {
                        //(Hint:junk is not defined as an array)
                        document.getElementById("mcqonehintbox").innerHTML = 'Incorrect! <br> <i>(Hint:junk is not defined as an array)</i>';


                    }
                });
            });
        }

        function mcqtwo() {
            $(function () {
                $("#submittwo").click(function () {
                    var a = $('input[name="answers2"]:checked').val();
                    if (a == 1) {
                        document.getElementById("mcqtwohintbox").innerHTML = 'Incorrect! <br> <i>(Hint: complete the for loop; it isn’t terminated by the first false “if”)</i>';
                    }
                    if (a == 2) {
                        document.getElementById("mcqtwohintbox").innerHTML = 'Incorrect! <br> <i>(Hint: count not created as array.)</i>';
                    }

                    if (a == 3) {
                        document.getElementById("mcqtwohintbox").innerHTML = "Correct!"
                    }

                    if (a == 4) {
                        document.getElementById("mcqtwohintbox").innerHTML = 'Incorrect! <br> <i>Refer material under Lecture Videos(10.1), Exercise Videos(10.1), Tutorials(10.5)</i>';
                    }
                });
            });
        }

        function mcqthree() {
            $(function () {
                $("#submitthree").click(function () {
                    var a = $('input[name="answers3"]:checked').val();
                    if (a == 1) {
                        document.getElementById("mcqthreehintbox").innerHTML = 'Incorrect! <br> <i>(Hint: var1 is asked for, not var2)</i>';
                    }
                    if (a == 2) {
                        document.getElementById("mcqthreehintbox").innerHTML = 'Incorrect! <br> <i>(Hint: unspecified array locations are filled with zeros)</i>';
                    }
                    if (a == 3) {
                        document.getElementById("mcqthreehintbox").innerHTML = 'Incorrect! <br> <i>(Hint: index variable increments by 2s)</i>';
                    }
                    if (a == 4) {
                        document.getElementById("mcqthreehintbox").innerHTML = "Correct!"
                    }
                });
            });
        }

        function mcqfour() {
            $(function () {
                $("#submitfour").click(function () {
                    var a = $('input[name="answers4"]:checked').val();
                    if (a == 1) {
                        document.getElementById("mcqfourhintbox").innerHTML = 'Incorrect! <br> <i>(Hint: num isn’t defined as an array)</i>';
                    }
                    if (a == 2) {
                        document.getElementById("mcqfourhintbox").innerHTML = 'Incorrect! <br> <i>(Hint: num is not defined as an array)</i>';
                    }
                    if (a == 3) {
                        document.getElementById("mcqfourhintbox").innerHTML = 'Incorrect! <br> <i>(Hint: num not defined as array))</i>';
                    }
                    if (a == 4) {
                        document.getElementById("mcqfourhintbox").innerHTML = 'Incorrect! <br> <i>(Hint: TRUE if statement doesn’t terminate FOR loop)</i>';
                    }
                    if (a == 5) {
                        document.getElementById("mcqfourhintbox").innerHTML = "Correct!"
                    }
                });
            });
        }

        function mcqfive() {
            $(function () {
                $("#submitfive").click(function () {
                    var a = $('input[name="answers"]:checked').val();
                    if (a == 1) {
                        document.getElementById("mcqfivehintbox").innerHTML = "Correct!"
                    }
                    else {
                        document.getElementById("mcqfivehintbox").innerHTML = 'Incorrect! <br> <i>Refer material under Lecture Videos(10.2), Exercise Videos(10.2, 10.4), Tutorials(10.2, 10.4, 10.8)</i>';

                    }
                });
            });
        }

        function mcqsix() {
            $(function () {
                $("#submitsix").click(function () {
                    var a = $('input[name="answers"]:checked').val();
                    if (a == 1) {
                        document.getElementById("mcqsixinbox").innerHTML = "Correct!"
                    }
                    else {
                        document.getElementById("mcqsixinbox").innerHTML = 'Incorrect! <br> <i>Refer material under Lecture Videos(10.2), Exercise Videos(10.2, 10.4), Tutorials(10.2, 10.4, 10.8)</i>';

                    }
                });
            });
        }
    </script>

    <h3>1. What is <i><b>junk</b></i> as a result of the given Matlab code fragment?</h3>
    <pre style='color:#000000;background:#ffffff;'>a <span style='color:#0000ff; '>=</span> <span
            style='color:#0000ff; '>[</span>0  1  2<span style='color:#0000ff; '>]</span><span
            style='color:#0000ff; '>;</span>
b <span style='color:#0000ff; '>=</span> <span style='color:#0000ff; '>[</span>3  <span style='color:#0000ff; '>-</span>1  2<span
                style='color:#0000ff; '>]</span><span style='color:#0000ff; '>;</span>
junk <span style='color:#0000ff; '>=</span> 0<span style='color:#0000ff; '>;</span>
<span style='color:#0000ff; font-weight:bold; '>for</span> k <span style='color:#0000ff; '>=</span> 1<span
                style='color:#0000ff; '>:</span>3
    junk <span style='color:#0000ff; '>=</span> junk <span style='color:#0000ff; '>+</span> a<span
                style='color:#0000ff; '>(</span>4<span style='color:#0000ff; '>-</span>k<span
                style='color:#0000ff; '>)</span><span style='color:#0000ff; '>.</span><span
                style='color:#0000ff; '>*</span>b<span style='color:#0000ff; '>(</span>k<span
                style='color:#0000ff; '>)</span><span style='color:#0000ff; '>;</span>
<span style='color:#0000ff; font-weight:bold; '>end</span>
</pre>

    <form id="mcqOne">
        <input type="radio" id="Q1R1" name="answers1" value="1"><label class="btn btn-default bWidth" for="Q1R1">[0 6 5]</label> <br>
        <input type="radio" id="Q1R2" name="answers1" value="2"><label class="btn btn-default bWidth" for="Q1R2">[6 -1 0]</label> <br>
        <input type="radio" id="Q1R3" name="answers1" value="3"><label class="btn btn-default bWidth" for="Q1R3">0</label> <br>
        <input type="radio" id="Q1R4" name="answers1" value="4"><label class="btn btn-default bWidth" for="Q1R4">5</label> <br><br>
        <input id="submitone" class="btn btn-success" type="submit" value="Submit" onclick="mcqone()">
    </form>
    
    <br>
    <div id="mcqonehintbox"></div>
    <br>

    <h3>2. What is <i><b>stuff</b></i> as a result of the MATLAB code fragment below?</h3>
	<pre style='color:#000000;background:#ffffff;'>a <span style='color:#0000ff; '>=</span> <span
            style='color:#0000ff; '>[</span>0  <span style='color:#0000ff; '>-</span>1  1  4  3  <span
            style='color:#0000ff; '>-</span>3  2<span style='color:#0000ff; '>]</span><span
            style='color:#0000ff; '>;</span>
b <span style='color:#0000ff; '>=</span> <span style='color:#0000ff; '>[</span>3  <span style='color:#0000ff; '>-</span>1  2<span
                style='color:#0000ff; '>]</span><span style='color:#0000ff; '>;</span>
stuff <span style='color:#0000ff; '>=</span> 0<span style='color:#0000ff; '>;</span>
<span style='color:#0000ff; font-weight:bold; '>for</span> k <span style='color:#0000ff; '>=</span> 1<span
                style='color:#0000ff; '>:</span>3
    stuff <span style='color:#0000ff; '>=</span> stuff <span style='color:#0000ff; '>+</span> a<span
                style='color:#0000ff; '>(</span>2<span style='color:#0000ff; '>*</span>k<span
                style='color:#0000ff; '>)</span><span style='color:#0000ff; '>.</span><span
                style='color:#0000ff; '>*</span>b<span style='color:#0000ff; '>(</span>4<span
                style='color:#0000ff; '>-</span>k<span style='color:#0000ff; '>)</span><span
                style='color:#0000ff; '>;</span>
<span style='color:#0000ff; font-weight:bold; '>end</span>
</pre>

    <h4><i>stuff =</i> <input type="number" id="assest1input1"><br><br>
        <button class="btn btn-success" type="button" onclick='changeTextAssest1()' value='Change Text'>submit</button>
    </h4>

    <h4>
        <div class="tags" id="assest1"></div>
    </h4>
    <br>

    <h3>3. What is <i><b>count</b></i> as a result of the given Matlab code fragment?</h3>
<pre style='color:#000000;background:#ffffff;'>x <span style='color:#0000ff; '>=</span> <span
        style='color:#0000ff; '>[</span><span style='color:#0000ff; '>-</span>6  <span style='color:#0000ff; '>-</span>2  5  0  <span
        style='color:#0000ff; '>-</span>3<span style='color:#0000ff; '>]</span><span style='color:#0000ff; '>;</span>

count <span style='color:#0000ff; '>=</span> 0<span style='color:#0000ff; '>;</span>
<span style='color:#0000ff; font-weight:bold; '>for</span> index <span style='color:#0000ff; '>=</span> 1<span
            style='color:#0000ff; '>:</span> <span style='color:#0000ff; font-weight:bold; '>length</span><span
            style='color:#0000ff; '>(</span>x<span style='color:#0000ff; '>)</span>
    <span style='color:#0000ff; font-weight:bold; '>if</span> x<span style='color:#0000ff; '>(</span>index<span
            style='color:#0000ff; '>)</span> <span style='color:#0000ff; '>></span><span
            style='color:#0000ff; '>=</span> 0
        count <span style='color:#0000ff; '>=</span> count <span style='color:#0000ff; '>+</span> 1<span
            style='color:#0000ff; '>;</span>
    <span style='color:#0000ff; font-weight:bold; '>end</span>
<span style='color:#0000ff; font-weight:bold; '>end</span>
</pre>

    <form id="mcqTwo">
        <input type="radio" id="Q1R1" name="answers1" value="1"><br>
        <input id="Q2R1" type="radio" name="answers2" value="1"><label class="btn btn-default bWidth" for="Q2R1">0</label><br>
        <input id="Q2R2" type="radio" name="answers2" value="2"><label class="btn btn-default bWidth" for="Q2R2">[0 1 2]</label><br>
        <input id="Q2R3" type="radio" name="answers2" value="3"><label class="btn btn-default bWidth" for="Q2R3">1</label><br>
        <input id="Q2R4" type="radio" name="answers2" value="4"><label class="btn btn-default bWidth" for="Q2R4">3</label><br><br>
        <input class="btn btn-success" id="submittwo" type="submit" value="Submit" onclick="mcqtwo()">
    </form>

    <div id="mcqtwohintbox"></div>
    <br>

    <h3>4. What is <b><i>count</i></b> as a result of the MATLAB code fragment below?</h3>
    <pre style='color:#000000;background:#ffffff;'>x <span style='color:#0000ff; '>=</span> <span
            style='color:#0000ff; '>[</span>1  <span style='color:#0000ff; '>-</span>2  3<span
            style='color:#0000ff; '>]</span><span style='color:#0000ff; '>;</span>
count <span style='color:#0000ff; '>=</span> 0<span style='color:#0000ff; '>;</span>
<span style='color:#0000ff; font-weight:bold; '>for</span> index <span style='color:#0000ff; '>=</span> 1<span
                style='color:#0000ff; '>:</span> <span style='color:#0000ff; font-weight:bold; '>length</span><span
                style='color:#0000ff; '>(</span>x<span style='color:#0000ff; '>)</span>
    <span style='color:#0000ff; font-weight:bold; '>for</span> k <span style='color:#0000ff; '>=</span> 1<span
                style='color:#0000ff; '>:</span>3
        count <span style='color:#0000ff; '>=</span> count <span style='color:#0000ff; '>+</span> x<span
                style='color:#0000ff; '>(</span>index<span style='color:#0000ff; '>)</span><span
                style='color:#0000ff; '>*</span>k<span style='color:#0000ff; '>;</span>
    <span style='color:#0000ff; font-weight:bold; '>end</span>
<span style='color:#0000ff; font-weight:bold; '>end</span>
</pre>

    <!--
        <h4>stuff = <input type="number" id="assest1input1"> <button type="button" onclick='changeTextAssest1()' value='Change Text' >check</button></h4>

   <h4> <div class="tags" id="assest1"></div></h4>
    -->

    <h4><i>count =</i> <input type="number" id="assest1input2"><br><br>


        <button class="btn btn-success" type="button" onclick='changeTextAssest2()' value='Change Text'>Submit</button>
    </h4>


    <div class="tags" id="assest2"></div>

    <br>
    <h3>5. What is <i><b>var1</b></i> as a result of the given Matlab code fragment?</h3>
<pre style='color:#000000;background:#ffffff;'>x <span style='color:#0000ff; '>=</span> <span
        style='color:#0000ff; '>[</span>7    13    11     3     5<span style='color:#0000ff; '>]</span><span
        style='color:#0000ff; '>;</span>

y <span style='color:#0000ff; '>=</span> 0<span style='color:#0000ff; '>:</span>7<span style='color:#0000ff; '>;</span>
<span style='color:#0000ff; font-weight:bold; '>for</span> index <span style='color:#0000ff; '>=</span> 1<span
            style='color:#0000ff; '>:</span>2<span style='color:#0000ff; '>:</span><span
            style='color:#0000ff; font-weight:bold; '>length</span><span style='color:#0000ff; '>(</span>x<span
            style='color:#0000ff; '>)</span>
    var1<span style='color:#0000ff; '>(</span>index<span style='color:#0000ff; '>)</span> <span style='color:#0000ff; '>=</span> x<span
            style='color:#0000ff; '>(</span>index<span style='color:#0000ff; '>)</span> <span
            style='color:#0000ff; '>+</span> y<span style='color:#0000ff; '>(</span>index<span
            style='color:#0000ff; '>+</span>1<span style='color:#0000ff; '>)</span><span
            style='color:#0000ff; '>;</span>
<span style='color:#0000ff; font-weight:bold; '>end</span>
var2 <span style='color:#0000ff; '>=</span> var1<span style='color:#0000ff; '>(</span>3<span
            style='color:#0000ff; '>)</span> <span style='color:#0000ff; '>+</span> 2<span
            style='color:#0000ff; '>;</span>
</pre>

    <form id="mcqThree">
        <input type="radio" id="Q3R1" name="answers3" value="1"><label class="btn btn-default bWidth" for="Q3R1">16</label><br>
        <input type="radio" id="Q3R2" name="answers3" value="2"><label class="btn btn-default bWidth" for="Q3R2">[8 14 10]</label><br>
        <input type="radio" id="Q3R3" name="answers3" value="3"><label class="btn btn-default bWidth" for="Q3R3">[8 15 14 7 10]</label><br>
        <input type="radio" id="Q3R4" name="answers3" value="4"><label class="btn btn-default bWidth" for="Q3R4">[8 0 14 0 10]</label><br><br>
        <input class="btn btn-success" id="submitthree" type="submit" value="Submit" onclick="mcqthree()">
    </form>

    <div id="mcqthreehintbox"></div>
    <br>

    <h3>6. What is <b><i>count</i></b> as a result of the MATLAB code fragment below?</h3>
    <pre style='color:#000000;background:#ffffff;'>a <span style='color:#0000ff; '>=</span> <span
            style='color:#0000ff; '>[</span>3  2  1  0  <span style='color:#0000ff; '>-</span>1  <span
            style='color:#0000ff; '>-</span>2<span style='color:#0000ff; '>]</span>
<span style='color:#0000ff; font-weight:bold; '>for</span> k <span style='color:#0000ff; '>=</span> 1<span
                style='color:#0000ff; '>:</span><span style='color:#0000ff; font-weight:bold; '>length</span><span
                style='color:#0000ff; '>(</span>a<span style='color:#0000ff; '>)</span>
    <span style='color:#0000ff; font-weight:bold; '>if</span> a<span style='color:#0000ff; '>(</span>k<span
                style='color:#0000ff; '>)</span> <span style='color:#0000ff; '>&lt;</span><span style='color:#0000ff; '>=</span> <span
                style='color:#0000ff; '>-</span>1
        <span style='color:#0000ff; font-weight:bold; '>break</span>
    <span style='color:#0000ff; font-weight:bold; '>end</span>
    count <span style='color:#0000ff; '>=</span> a<span style='color:#0000ff; '>(</span>k<span
                style='color:#0000ff; '>)</span> <span style='color:#0000ff; '>+</span> k<span
                style='color:#0000ff; '>;</span>
<span style='color:#0000ff; font-weight:bold; '>end</span>
</pre>

    <h4><i>count =</i> <input type="number" id="assest1input3"><br><br>
        <button class="btn btn-success" type="button" onclick='changeTextAssest3()' value='Change Text'>Submit</button>
    </h4>
    <div class="tags" id="assest3"><!--Tags: Decisions and For Loops--></div>
    <br>


    <h3>7. What is <i><b>num</b></i> resulting from the code below?</h3>
<pre style='color:#000000;background:#ffffff;'>A <span style='color:#0000ff; '>=</span> <span
        style='color:#0000ff; '>[</span>4  <span style='color:#0000ff; '>-</span>2  5<span
        style='color:#0000ff; '>;</span> 3  7  <span style='color:#0000ff; '>-</span>6<span
        style='color:#0000ff; '>]</span>

num <span style='color:#0000ff; '>=</span> A<span style='color:#0000ff; '>(</span>1<span
            style='color:#0000ff; '>,</span>1<span style='color:#0000ff; '>)</span><span
            style='color:#0000ff; '>;</span>
<span style='color:#0000ff; font-weight:bold; '>for</span> m <span style='color:#0000ff; '>=</span> 1<span
            style='color:#0000ff; '>:</span>2
    <span style='color:#0000ff; font-weight:bold; '>for</span> n <span style='color:#0000ff; '>=</span> 1<span
            style='color:#0000ff; '>:</span>3
        <span style='color:#0000ff; font-weight:bold; '>if</span> A<span style='color:#0000ff; '>(</span>m<span
            style='color:#0000ff; '>,</span>n<span style='color:#0000ff; '>)</span> <span
            style='color:#0000ff; '>></span> num
            num <span style='color:#0000ff; '>=</span> A<span style='color:#0000ff; '>(</span>m<span
            style='color:#0000ff; '>,</span>n<span style='color:#0000ff; '>)</span>
        <span style='color:#0000ff; font-weight:bold; '>end</span>
    <span style='color:#0000ff; font-weight:bold; '>end</span>
<span style='color:#0000ff; font-weight:bold; '>end</span>
</pre>

    <form id="mcqFour">
        <br>
        <input id="Q4R1" type="radio" name="answers4" value="2"><label class="btn btn-default bWidth" for="Q4R1">num = [5 7]</label><br>
        <input id="Q4R2" type="radio" name="answers4" value="3"><label class="btn btn-default bWidth" for="Q4R2">num = [0 0 5 0 7 0]</label><br>
        <input id="Q4R3" type="radio" name="answers4" value="4"><label class="btn btn-default bWidth" for="Q4R3">num = [5 7]</label><br>
        <input id="Q4R4" type="radio" name="answers4" value="5"><label class="btn btn-default bWidth" for="Q4R4"> num = 7</label><br><br>
        <input class="btn btn-success" id="submitfour" type="submit" value="Submit" onclick="mcqfour()">
    </form>

    <div id="mcqfourhintbox"></div>
    <br>

    <h3>8. What is <b><i>z</i></b> after the code below executes?</h3>
    <pre style='color:#000000;background:#ffffff;'>var <span style='color:#0000ff; '>=</span> <span
            style='color:#0000ff; '>[</span><span style='color:#0000ff; '>-</span>3  4  <span
            style='color:#0000ff; '>-</span>4  5  0  <span style='color:#0000ff; '>-</span>2  6  1  4  8<span
            style='color:#0000ff; '>]</span><span style='color:#0000ff; '>;</span>
x <span style='color:#0000ff; '>=</span> 5<span style='color:#0000ff; '>;</span>
index <span style='color:#0000ff; '>=</span> 1<span style='color:#0000ff; '>;</span>
<span style='color:#0000ff; font-weight:bold; '>while</span> x<span style='color:#0000ff; '>></span>2
    z<span style='color:#0000ff; '>(</span>index<span style='color:#0000ff; '>)</span> <span
                style='color:#0000ff; '>=</span> var<span style='color:#0000ff; '>(</span>2<span
                style='color:#0000ff; '>*</span>x<span style='color:#0000ff; '>)</span><span
                style='color:#0000ff; '>;</span>
    index <span style='color:#0000ff; '>=</span> index <span style='color:#0000ff; '>+</span> 2<span
                style='color:#0000ff; '>;</span>
    x <span style='color:#0000ff; '>=</span> x <span style='color:#0000ff; '>-</span> 1<span
                style='color:#0000ff; '>;</span>
<span style='color:#0000ff; font-weight:bold; '>end</span>
z<span style='color:#0000ff; '>(</span>2<span style='color:#0000ff; '>+</span>index<span
                style='color:#0000ff; '>)</span> <span style='color:#0000ff; '>=</span> 1<span
                style='color:#0000ff; '>;</span>
</pre>
    <h4><i>z =</i> <input type="text" id="assest1input4"><br><br>
        <button class="btn btn-success" type="button" onclick='changeTextAssest4()' value='Change Text'>Submit</button>
    </h4>
    <div class="tags" id="assest4"></div>
    <br>


    <h3>9. What is <b><i>count</i></b> after the code below executes?</h3>
    <pre style='color:#000000;background:#ffffff;'>n <span style='color:#0000ff; '>=</span> <span
            style='color:#0000ff; '>[</span>0  2  1  <span style='color:#0000ff; '>-</span>2  <span
            style='color:#0000ff; '>-</span>1  3  <span style='color:#0000ff; '>-</span>3<span
            style='color:#0000ff; '>]</span><span style='color:#0000ff; '>;</span>
count <span style='color:#0000ff; '>=</span> 0<span style='color:#0000ff; '>;</span>
index <span style='color:#0000ff; '>=</span> 1<span style='color:#0000ff; '>;</span>
<span style='color:#0000ff; font-weight:bold; '>while</span> n<span style='color:#0000ff; '>(</span>index<span
                style='color:#0000ff; '>)</span> <span style='color:#0000ff; '>&lt;</span> 3
    count <span style='color:#0000ff; '>=</span> 2<span style='color:#0000ff; '>*</span>n<span
                style='color:#0000ff; '>(</span>index<span style='color:#0000ff; '>)</span><span
                style='color:#0000ff; '>;</span>
    index <span style='color:#0000ff; '>=</span> index <span style='color:#0000ff; '>+</span>1<span
                style='color:#0000ff; '>;</span>
<span style='color:#0000ff; font-weight:bold; '>end</span>
</pre>
    <h4><i>count =</i> <input type="number" id="assest1input5"><br><br>
        <button class="btn btn-success" type="button" onclick='changeTextAssest5()' value='Change Text'>Submit</button>
    </h4>
    <div class="tags" id="assest5"><!--Tags: While Loops--></div>

</div>